.todo-list-container{
  text-align: center;
  width: 70%;
  position: relative;
  left:14%;

  padding-bottom: 30px;
  padding-top: 10px;
}
.todo-list-main-name{
  color:deeppink;
  font-size: 46px;
  font-family: URW Chancery L, cursive
}
