
  <div class="todo-list-container">
    <h1 class="todo-list-main-name">Todo List</h1>

    <!--компонент формы-->
    <app-todo-list-form (searchTodos)="searchTodos($event)"  [updateText]="nameTodoForUpdate" (createNewTodo)="createTodo($event)" (saveUpdate)="saveUpdate($event)"></app-todo-list-form>

    <!--компонент списка-->
    <app-list-items [todos]="todos" (sortByDate)="sortByDate()" (sortByName)="sortByName()" (updateTodo)="updateTodo($event)"  (deleteTodo)="deleteTodo($event)"></app-list-items>
  </div>


