li{
  height: 45px;
  width: 98.5%;

  padding-top: 20px;
  padding-bottom: 20px;

  border: 1px solid lightgray;
  padding-left: 6px;
  margin-top: -1px;
  display: flex;
  flex-direction: row;



  span{
    display: block;
    float: left;
    font-size: 30px;
    font-family: URW Chancery L, cursive;
    order:0;
    flex-grow:2;
    text-align:left;
    padding-left: 5px;
  }
  .delete{
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    padding: 4px;
    font-size:25px;
    color:gray;
    margin-top: -4px;
    cursor:pointer;
    font-family: URW Chancery L, cursive;
    border:none;
    background: none;
    order: 1;

  }

  .delete:active{
    border:none;
    outline: none;
  }

  .update{
    float:right;
    order: 1;
    background-color:white;
    border: 1px solid lightgray;
    font-size:14px;
    cursor:pointer;
    color:gray;
    font-family: URW Chancery L, cursive;
    border-radius: 3px;
    height: 44px;
    margin-right: 5px;
  }

  .update{
    cursor: pointer;
  }

  .update:active{
    border:none;
    outline: none;
  }

}
