.todo-list-form-container{
  width: 60%;
  position: relative;
  left:20%;

  form{
    height: 100px;
    border: 1px solid lightgray;
    padding-top: 32px;
    padding-bottom: 20px;
    box-shadow:0px 1.4px 0px 0px lightgray;

    input{
      float: left;
      height: 40px;
      width: 70%;
      display: inline-block;
      font-size: 23px;
      border: 1px solid lightgray;
      padding-left: 6px;
      background: #f8f8f8;
      border-radius: 3px;
      font-family: URW Chancery L, cursive;
      position: relative;
      left:10%;

    }
    .todo-list-button{
      position: relative;
      left: 12%;
      float: left;
      display: inline-block;
      height: 44px;
      background-color:white;
      border: 1px solid lightgray;
      font-size:14px;
      cursor:pointer;
      color:gray;
      font-family: URW Chancery L, cursive;
      border-radius: 3px;
      width: 44px;
    }
    .todo-list-button:active{
      border:none;
      outline: none;
    }

    .save{
      float: left;
      position: relative;
      left: 12%;
      border-radius: 3px;
      height: 44px;
      background-color:white;
      border: 1px solid lightgray;
      color:gray;
      font-family: URW Chancery L, cursive;
      cursor: pointer;
    }
  }
}
.butSortByDate, .butSortByName {
  margin-top: 20px;
  height: 44px;
  background-color:white;
  border: 1px solid lightgray;
  font-size:14px;
  cursor:pointer;
  color:gray;
  font-family: URW Chancery L, cursive;
  border-radius: 3px;
  margin-bottom: 5px;
}
.butSortByName{
  margin-left: 8px;
}
