

<div class="todo-list-form-container">
  <form action="" id="todo-list-form" class="todo-list-form">
    <input type="text" class="todo-list-text" id="todo-list-text"/>

    <button type="submit" class="todo-list-button" id="todo-list-button" >add</button>
    <button type="button" class="save" id="save">Save</button>

    <button type="button" id="butSortByDate" class="butSortByDate">Сортировка по-дате</button>
    <button type="button" id="butSortByName" class="butSortByName">Сортировка по-имени</button>
  </form>
</div>



