

.navbar{

  text-align: center;
  margin-top: 20px;

  a{
    display: inline-block;
    border: 1px solid lightgray;
    padding: 10px;
    width: 120px;
    margin-left: 10px;
    text-decoration: none;
    color: #ff15a9;
  }

}
